ons-toolbar img {
  background-color: #781469;
  align-content: "center";
  width: 100%;
  height: 100%;
}

ons-tab {
  color: white !important;
  background-color: #781469;
}

ons-tabbar {
  text-decoration-color: aliceblue !important;
  color: white !important;
  background-color: #781469 !important;
}

ons-input {
  text-align: center;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

ons-button {
  background-color: #941c80 !important;
  width: 180px;
  height: 150px;
  left: 16px;
  right: 16px;
}

/*Generals */
body {
  font: normal 100% Roboto, Helvetica, sans-serif;
  padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
  padding-top: env(safe-area-inset-top); /* iOS 11.2 */
}
/*PANTALLA DE SPLASH */
#splashScreen {
  max-width: 100%;
  background-image: url("../img/splash.png");
  background-size: 100% auto;
  background-position: top;
  background-color: #570848;
  background-repeat: no-repeat;
}
/* PANTALLA DE REGISTRO */
::placeholder {
  color: #932280;
  opacity: 0.5;
}
#scrHeaderRegisterScreen {
  text-align: center;
  margin-top: -2px;
  max-width: 100%;
  background: #7d1c6d;
}
#scrHeaderRegisterScreen img {
  max-width: 30%;
  max-height: 30%;
}

#scrRegisterScreen {
  max-width: 100%;
  max-height: 100%;
  background-image: url("../img/fondo_registro.png");
  background-size: 110% auto;
  background-repeat: repeat-y;
}
#scrContetRegisterScreen div a {
  max-width: 100%;
}
#scrContetRegisterScreen div a img {
  max-width: 100%;
}
#scrContentRegisterScreenForm {
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 4px;
}
#scrContetRegisterScreen #btnContainer {
  margin: 0 auto;
}
#btnContainer {
  margin: 0 auto;
  max-width: 87%;
}
#btnContainer div div a img {
  max-width: 100%;
}
#btnContainer a img {
  max-width: 100%;
}
#scrRegisterScreenDialog {
  max-width: 100%;
  background-image: url("../img/fondo_registro.png");
  background-size: 110% auto;
  background-repeat: repeat-y;
}
#btnContainer {
  width: 100%;
}
#scrContetRegisterScreenDialog #btnContainer a img {
  max-width: 50%;
  margin: 0 auto;
}
#scrContetRegisterScreenDialog p {
  text-align: center;
}
#scrActivationScreen {
  max-width: 100%;
  background-image: url("../img/fondo_registro.png");
  background-size: 110% auto;
  background-repeat: repeat-y;
}
#scrMensajeConfirmacionSalidaCodActivacion {
  max-width: 100%;
  background-image: url("../img/fondo_registro.png");
  background-size: 100% auto;
  background-repeat: repeat-y;
}
.title {
  margin-left: 16px;
  margin-top: 50px;
  margin-bottom: 16px;
}
/*** MENU PRINCIPAL DE tPago ***/
.center {
  margin: auto;
  width: 85%;
  text-align: center;
  padding: 10px;
  margin-top: -5px;
}
#scrHomeScreen {
  background-image: url("../img/fondo_registro.png");
  background-size: 110% auto;
  background-repeat: repeat;
}
#scrHomeScreen #contentHome #plainMenu {
  margin-bottom: 24px;
  margin-top: -24px;
}
#scrHomeScreen #contentHome div div a img {
  max-width: 100%;
  max-height: 100%;
  margin-top: -25px;
  margin-left: auto;
  margin-right: auto;
}
/* logo */
#scrHomeScreen #homeContent div div img {
  max-width: 80%;
  max-height: 80%;
  margin-left: auto;
  margin-right: auto;
}
#scrContetHomeScreen div a img {
  max-width: 100%;
  max-height: 100%;
  margin-top: -5px;
}
#homeContent {
  margin-top: 0%;
  max-width: 100%;
  margin: auto;
}
#scrFooterHomeScreen a img {
  max-width: 50%;
  max-height: 50%;
}
#scrHomeScreenConfButton {
  width: 100%;
}
#scrHomeScreenConfButton a img {
  max-width: 100%;
}
#scrHomeScreenActButton {
  width: 100%;
}
#scrHomeScreenActButton a img {
  max-width: 100%;
}
#plainMenu p {
  margin: 0 auto;
}
#plainMenu p b {
  margin: 0 auto;
  color: #932280;
}
#copyRight p {
  text-align: center;
  font-size: small;
  margin-bottom: -0.2em;
  margin-bottom: 1em;
  /*margin-top: 25px;	
  margin-top: 2.5em;*/
}
#footerBar {
  max-width: 100%;
  background: #932280;
  margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
  margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
  background-image: url("../img/footerFondo.png");
  fill: #932280;
}
#footerbar div {
  background: #932280 !important;
}
#footerBar div a {
  color: #ffffff;
  text-decoration: none;
  text-emphasis: none;
  text-align: center;
  text-shadow: none;
}
#footerBar div a p {
  font-size: xx-small;
  text-shadow: none;
  margin-top: 2px;
  margin-bottom: 4px;
}
/*footer icons */
#footerBar div a img {
  margin-top: 8px;
  height: 24px;
  width: 24px;
}
#scrSalidaFromHomeMenu {
  background-image: url("../img/fondo_registro.png");
  background-size: 110% auto;
  background-repeat: repeat;
}
#scrSalidaFromHomeMap {
  background-image: url("../img/fondo_registro.png");
  background-size: 110% auto;
  background-repeat: repeat;
}
/**	
MAPAS	
*/
#mapScreen {
  width: 100%;
  height: 100%;
  background-image: url("../img/Comercios.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
#customerScreen {
  width: 100%;
  height: 80%;
  background-image: url("../img/Contactanos.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
#scrContetHomeScreen div {
  margin: 0 auto;
  padding: 0.2em 0.2em 0.2em 0.2em;
}
